<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= p.user.login[lang] %></title>
    </head>
    <body>
        <form method="POST" action="">
            <label for="username"><%= p.user.username[lang] %></label>
            <input type="text" id="username" name="username">
            <label for="password"><%= p.user.password[lang] %></label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login">
            or <a href="/register">register</a>
        </form>
        <% if (errorMessage) { %>
        <div id="error-message">
            <%= errorMessage %>
        </div>
        <% } %>
    </body>
</html>
