.history {
    width: 100%;
}

.history img {
    width: 80px;
    height: 80px;
}

#historykey > * {
    display: inline-block;
}

.history-item {
    display: inline-block;
    overflow: visible;
    height: 100%;
}
